<section class="about-the-game-section" id="about">
  <div class="container about-the-game-container">
    <h2 class="about-the-game-title title">About the Game</h2>
    <div class="about-the-game-text">
      <p class="part-one">
        Sort In Line: Color Puzzle is a fun and relaxing puzzle game that tests
        your organizational skills and precision. The goal is to sort colorful
        objects into their respective lines, matching colors to clear each
        level.
      </p>
      <p class="part-two">
        With hundreds of puzzles and visually pleasing graphics, this game
        offers a satisfying and immersive experience for players of all ages.
        Perfect for a quick mental challenge or a calming break, Sort In Line:
        Color Puzzle is sure to keep you engaged and relaxed.
      </p>
    </div>
  </div>
</section>
