<!-- ================ FAQ ================ -->
<section id="faq" class="faq-section">
  <div class="faq-container container background">
    <h2 class="title">FAQ</h2>

    <ul class="faq-list">
      <li class="faq-item">
        <h3 class="faq-question">
          <button class="faq-question-text" type="button">
            Is Sort In Line free to play?
            <svg class="faq-acc-svg" width="28" height="28">
              <use
                class="icon-arrow-up-down"
                href="/img/sprite.svg#icon-arrow-up-down"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Yes, it&#39;s free to download and play, with optional in-app
            purchases.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button class="faq-question-text" type="button">
            Can I play without an internet connection?
            <svg class="faq-acc-svg" width="28" height="28">
              <use
                class="icon-arrow-up-down"
                href="/img/sprite.svg#icon-arrow-up-down"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Yes, the game offers an offline mode for uninterrupted play on the
            go.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button class="faq-question-text" type="button">
            What age group is the game suitable for?
            <svg class="faq-acc-svg" width="28" height="28">
              <use
                class="icon-arrow-up-down"
                href="/img/sprite.svg#icon-arrow-up-down"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="faq-answer">
          <p class="faq-answer-text">
            This game is family-friendly and suitable for all ages.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button class="faq-question-text" type="button">
            How do I earn hints in the game?
            <svg class="faq-acc-svg" width="28" height="28">
              <use
                class="icon-arrow-up-down"
                href="/img/sprite.svg#icon-arrow-up-down"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Hints can be earned through gameplay or purchased as needed.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button class="faq-question-text" type="button">
            What if I can&#39;t complete a level?
            <svg class="faq-acc-svg" width="28" height="28">
              <use
                class="icon-arrow-up-down"
                href="/img/sprite.svg#icon-arrow-up-down"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Use hints to help you complete tougher levels, or replay the level
            to try a different strategy.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button class="faq-question-text" type="button">
            Are updates available?
            <svg class="faq-acc-svg" width="28" height="28">
              <use
                class="icon-arrow-up-down"
                href="/img/sprite.svg#icon-arrow-up-down"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Yes, we regularly add new levels and features to keep the experience
            fresh.
          </p>
        </div>
      </li>
    </ul>
    <svg class="faq-man" width="21" height="42">
      <use href="/img/sprite.svg#icon-faq-man"></use>
    </svg>
    <svg class="faq-ques" width="35" height="24">
      <use href="/img/sprite.svg#icon-faq-ques"></use>
    </svg>
    <svg class="faq-ray" width="104" height="92">
      <use href="/img/sprite.svg#icon-faq-ray"></use>
    </svg>
  </div>
</section>
