<section id="faq">
  <div class="faq-container container background">
    <h2 class="title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <p class="question">Is Sort In Line free to play?</p>
        <p class="answer">
          Yes, it&#39;s free to download and play, with optional in-app
          purchases.
        </p>
        <button class="accordeon-btn" type="button">
          <!-- <svg class="arrow-up-down" width="28" height="28">
        <use href="/img/sprite.svg#icon-arrow-up-down"></use>
      </svg> -->Y
        </button>
        <!-- <svg class="faq-divider" width="242" height="2">
      <use href="/img/sprite.svg#icon-faq-divider"></use>
    </svg> -->
      </li>
      <li class="faq-item">
        <p class="question">Can I play without an internet connection?</p>
        <p class="answer">
          Yes, the game offers an offline mode for uninterrupted play on the go.
        </p>
        <button class="accordeon-btn" type="button">
          <!-- <svg class="arrow-up-down" width="28" height="28">
        <use href="/img/sprite.svg#icon-arrow-up-down"></use>
      </svg> -->Y
        </button>
        <!-- <svg class="faq-divider" width="242" height="2">
      <use href="/img/sprite.svg#icon-faq-divider"></use>
    </svg> -->
      </li>
      <li class="faq-item">
        <p class="question">What age group is the game suitable for?</p>
        <p class="answer">
          This game is family-friendly and suitable for all ages.
        </p>
        <button class="accordeon-btn" type="button">
          <!-- <svg class="arrow-up-down" width="28" height="28">
        <use href="/img/sprite.svg#icon-arrow-up-down"></use>
      </svg> -->Y
        </button>
        <!-- <svg class="faq-divider" width="242" height="2">
      <use href="/img/sprite.svg#icon-faq-divider"></use>
    </svg> -->
      </li>
      <li class="faq-item">
        <p class="question">How do I earn hints in the game?</p>
        <p class="answer">
          Hints can be earned through gameplay or purchased as needed.
        </p>
        <button class="accordeon-btn" type="button">
          <!-- <svg class="arrow-up-down" width="28" height="28">
        <use href="/img/sprite.svg#icon-arrow-up-down"></use>
      </svg> -->Y
        </button>
        <!-- <svg class="faq-divider" width="242" height="2">
      <use href="/img/sprite.svg#icon-faq-divider"></use>
    </svg> -->
      </li>
      <li class="faq-item">
        <p class="question">What if I can’t complete a level?</p>
        <p class="answer">
          Use hints to help you complete tougher levels, or replay the level to
          try a different strategy.
        </p>
        <button class="accordeon-btn" type="button">
          <!-- <svg class="arrow-up-down" width="28" height="28">
        <use href="/img/sprite.svg#icon-arrow-up-down"></use>
      </svg> -->Y
        </button>
        <!-- <svg class="faq-divider" width="242" height="2">
      <use href="/img/sprite.svg#icon-faq-divider"></use>
    </svg> -->
      </li>
      <li class="faq-item">
        <p class="question">Are updates available?</p>
        <p class="answer">
          Yes, we regularly add new levels and features to keep the experience
          fresh.
        </p>
        <button class="accordeon-btn" type="button">
          <!-- <svg class="arrow-up-down" width="28" height="28">
        <use href="/img/sprite.svg#icon-arrow-up-down"></use>
      </svg> -->Y
        </button>
        <!-- <svg class="faq-divider" width="242" height="2">
      <use href="/img/sprite.svg#icon-faq-divider"></use>
    </svg> -->
      </li>
    </ul>
    <!-- <svg class="burger-menu" width="40" height="40">
      <use href="/img/sprite.svg#header-menu"></use>
    </svg> -->
    <!-- <svg class="burger-menu" width="40" height="40">
      <use href="/img/sprite.svg#header-menu"></use>
    </svg> -->
  </div>
</section>
