<!-- ================ FOOTER ================ -->
<footer class="footer-section">
  <div class="footer-container container">
    <ul class="privacy-list">
      <li class="privacy-item">
        <a href="./privacy-policy.html" class="nav-link"
          >Privacy Policy<span class="slash">/</span></a
        >
      </li>
      <li class="privacy-item">
        <a href="./terms&conditions.html" class="nav-link"
          >Terms and Conditions</a
        >
      </li>
    </ul>
    <p class="footer-text">
      &copy;2024 questcooladventure.com, All rights reserved
    </p>
  </div>
</footer>
