<!-- ================ FOOTER ================ -->
<footer class="footer-section">
  <div class="footer-container container">
    <ul class="terms-list">
      <li class="terms-item">
        <a href="./privacy-policy.html" class="nav-link">
          Privacy Policy
          <span class="terms-slash">/</span>
        </a>
      </li>

      <li class="terms-item">
        <a href="./terms&conditions.html" class="nav-link"
          >Terms and Conditions</a
        >
      </li>
    </ul>

    <p class="footer-text">
      &copy;2024 questcooladventure.com, All rights reserved
    </p>
  </div>
</footer>
