<!-- ================ GALLERY ================ -->
<section id="gallery">
  <div class="container gallery-container background">
    <div class="gallery-background-img"></div>
    <h2 class="title gallery-title">Gallery</h2>

    <div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div class="gallery-navigation">
      <button type="button" class="gallery-button-prev js-button-prev">
        <svg class="gallery-icon-left" width="24" height="23">
          <use href="./img/sprite.svg#icon-arrow-left-right"></use>
        </svg>
      </button>
      <button type="button" class="gallery-button-next js-button-next">
        <svg class="gallery-icon-right" width="24" height="23">
          <use href="./img/sprite.svg#icon-arrow-left-right"></use>
        </svg>
      </button>
    </div>

    <div class="swiper gallery-swiper">
      <div class="swiper-wrapper gallery-swiper-wrapper">
        <div class="swiper-slide gallery-swiper-slide">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/gallery-1-desk-min.png    1x,
                ./img/gallery/gallery-1-desk@2x-min.png 2x
              "
            />
            <img
              srcset="
                ./img/gallery/gallery-1-mob-min.png    1x,
                ./img/gallery/gallery-1-mob@2x-min.png 2x
              "
              class="gallery-img"
              src="./img/gallery/gallery-1-mob-min.png"
              alt="Gallery image"
              width="136"
              height="242"
            />
          </picture>
        </div>
        <div class="swiper-slide gallery-swiper-slide">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/gallery-2-desk-min.png    1x,
                ./img/gallery/gallery-2-desk@2x-min.png 2x
              "
            />
            <img
              class="gallery-img"
              srcset="
                ./img/gallery/gallery-2-mob-min.png    1x,
                ./img/gallery/gallery-2-mob@2x-min.png 2x
              "
              src="./img/gallery/gallery-2-mob-min.png"
              alt="Gallery image"
              width="136"
              height="242"
            />
          </picture>
        </div>
        <div class="swiper-slide gallery-swiper-slide">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/gallery-3-desk-min.png    1x,
                ./img/gallery/gallery-3-desk@2x-min.png 2x
              "
            />
            <img
              class="gallery-img"
              srcset="
                ./img/gallery/gallery-3-mob-min.png    1x,
                ./img/gallery/gallery-3-mob@2x-min.png 2x
              "
              src="./img/gallery/gallery-3-mob-min.png"
              alt="Gallery image"
              width="136"
              height="242"
            />
          </picture>
        </div>
        <div class="swiper-slide gallery-swiper-slide">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/gallery/gallery-4-desk-min.png    1x,
                /img/gallery/gallery-4-desk@2x-min.png 2x
              "
            />
            <img
              class="gallery-img"
              srcset="
                ./img/gallery/gallery-4-mob-min.png    1x,
                ./img/gallery/gallery-4-mob@2x-min.png 2x
              "
              src="/img/gallery/gallery-4-desk-min.png"
              alt="Gallery image"
              width="136"
              height="242"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
