<section class="section gallery-section" id="gallery">
  <div class="container gallery-container background">
    <h2 class="title gallery-title">Gallery</h2>
    <div class="gallery-swiper-container swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/gallery/gallery-1-desk-min.png    1x,
                /img/gallery/gallery-1-desk@2x-min.png 2x
              "
            />
            <img
              class="gallery-img"
              src="/img/gallery/gallery-1-desk-min.png"
              alt="image1"
              width="306"
              height="542"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/gallery/gallery-2-desk-min.png    1x,
                /img/gallery/gallery-2-desk@2x-min.png 2x
              "
            />
            <img
              class="gallery-img"
              src="/img/gallery/gallery-2-desk-min.png"
              alt="image1"
              width="306"
              height="542"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/gallery/gallery-3-desk-min.png    1x,
                /img/gallery/gallery-3-desk@2x-min.png 2x
              "
            />
            <img
              class="gallery-img"
              src="/img/gallery/gallery-3-desk-min.png"
              alt="image1"
              width="306"
              height="542"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/gallery/gallery-4-desk-min.png    1x,
                /img/gallery/gallery-4-desk@2x-min.png 2x
              "
            />
            <img
              class="gallery-img"
              src="/img/gallery/gallery-4-desk-min.png"
              alt="image1"
              width="306"
              height="542"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg class="gallery-swiper-button" width="32" height="32">
          <use href="/img/sprite1.svg#icon-Left-Arrow-Icon"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="gallery-swiper-button" width="32" height="32">
          <use href="/img/sprite1.svg#icon-Right-Arrow-Icon"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
