<!-- ================ HEADER Menu ================ -->
<header class="header">
  <div class="header-container container">
    <div class="logo-container">
      <img class="logo-image" src="/img/header-logo.jpg" alt="Logo" />
      <svg class="logo-svg" width="93" height="87">
        <use href="/img/sprite.svg#header-logo"></use>
      </svg>
    </div>

    <svg class="burger-menu js-burger-menu" width="40" height="40">
      <use href="/img/sprite.svg#header-menu"></use>
    </svg>

    <nav class="nav-menu">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#hero">Home</a>
        </li>
        <li class="nav-list-item">
          <a href="#gallery">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a href="#unique-features">Unique Features</a>
        </li>
        <li class="nav-list-item">
          <a href="#about-the-game">About the Game</a>
        </li>
        <li class="nav-list-item">
          <a href="#faq">FAQ</a>
        </li>
      </ul>
      <svg class="header-line" width="964" height="6">
        <use href="/img/sprite.svg#header-line"></use>
      </svg>
    </nav>
  </div>
</header>
