<!-- ================ HERO ================ -->
<section id="hero">
  <div class="hero-container container background">
    <div class="hero-background-img"></div>

    <!-- <div class="three-in-line hero-title-container">
      <h1 class="hero-title">Sort In Line:</h1>
      <div class="hover-letters">
        <span class="pink hover">C</span>
        <span class="green hover">o</span>
        <span class="grey-blue hover">l</span>
        <span class="purple hover">o</span>
        <span class="red hover">r</span>
        <span class="dark-green hover">P</span>
        <span class="blue hover">u</span>
        <span class="dark-purple hover">z</span>
        <span class="yellow-green hover">z</span>
        <span class="light-purple hover">l</span>
        <span class="pearch hover">e</span>
      </div>
      <span class="hero-title end-span">&ndash;</span>
      <h1 class="hero-title">Organize, Sort, and Relax!</h1>
    </div> -->

    <div class="hero-title-container">
      <h1 class="hero-title">Sort In Line:</h1>
      <div class="hover-letters">
        <span class="pink hover">C</span>
        <span class="green hover">o</span>
        <span class="grey-blue hover">l</span>
        <span class="purple hover">o</span>
        <span class="red hover">r</span>
        <span class="dark-green hover">P</span>
        <span class="blue hover">u</span>
        <span class="dark-purple hover">z</span>
        <span class="yellow-green hover">z</span>
        <span class="light-purple hover">l</span>
        <span class="pearch hover">e</span>
      </div>
      <span class="hero-title end-span">&ndash;</span>
      <div class="change-words">
        <span class="active">Organize</span>
        <span>Sort</span>
        <span>Relax</span>
      </div>
      <!-- <h1 class="hero-title">Organize, Sort, and Relax!</h1> -->
    </div>

    <a
      class="google-btn"
      href="https://play.google.com/store/apps/details?id=com.color.sorter"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/img/google-icon@2.png"
        alt="Logo"
        srcset="/img/google-icon.png 1x, /img/google-icon@2.png 2x"
      />
      <div class="google-cont">
        <svg class="get-it" width="44" height="8">
          <use href="/img/sprite.svg#icon-GET-IT-ON"></use>
        </svg>
        <svg class="google-play" width="98" height="20">
          <use href="/img/sprite.svg#icon-Google-Play"></use>
        </svg>
      </div>
      <svg class="hero-arrows" width="107" height="37">
        <use href="/img/sprite.svg#icon-hero-arrows"></use>
      </svg>
    </a>

    <p class="hero-text">
      Dive into satisfying color sorting puzzles that challenge your mind and
      unwind your day!
    </p>
  </div>
</section>
