<!-- ================ HERO ================ -->
<section class="hero-section section" id="hero">
  <div class="hero-container container background">
    <h1 class="hero-title">Sort In Line:</h1>
    <span class="pink">C</span>
    <span class="green">o</span>
    <span class="grey-blue">l</span>
    <span class="purple">o</span>
    <span class="red">r</span>
    <span class="dark-green">P</span>
    <span class="blue">u</span>
    <span class="dark-purple">z</span>
    <span class="yellow-green">z</span>
    <span class="light-purple">l</span>
    <span class="pearch">e</span>
    <span class="hero-title end-span">&ndash;</span>
    <h1 class="hero-title">Organize, Sort, and Relax!</h1>
    <a
      class="google-btn"
      href="https://play.google.com/store/apps/details?id=com.color.sorter"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/img/google-icon@2.png" alt="Get it on Google Play" />
      <div class="google-cont">
        <svg class="get-it" width="44" height="8">
          <use href="/img/sprite.svg#icon-GET-IT-ON"></use>
        </svg>
        <svg class="google-play" width="98" height="20">
          <use href="/img/sprite.svg#icon-Google-Play"></use>
        </svg>
      </div>
      <svg class="hero-arrows" width="107" height="37">
        <use href="/img/sprite.svg#icon-hero-arrows"></use>
      </svg>
    </a>

    <p class="hero-text">
      Dive into satisfying color sorting puzzles that challenge your mind and
      unwind your day!
    </p>
    <svg class="hero4" width="63" height="27">
      <use href="/img/sprite.svg#icon-hero4"></use>
    </svg>
    <svg class="hero-man" width="29" height="37">
      <use href="/img/sprite.svg#icon-hero-man"></use>
    </svg>
    <svg class="hero-rope" width="29" height="37">
      <use href="/img/sprite.svg#icon-hero-rope"></use>
    </svg>
  </div>
</section>
