<!-- ================ Mobile Menu ================ -->
<div class="mob-menu js-mob-menu hidden">
  <div class="container menu-container">
    <button class="menu-close-btn js-close-btn" type="button">
      <picture>
        <source
          srcset="/img/icons/CloseButton.png"
          media="(min-width: 320px)"
        />
        <img src="../img/icons/CloseButton.png" alt="icon" class="close-icon" />
      </picture>
      <!-- <svg class="menu-close-btn-icon" width="28" height="28">
        <use href="/img/sprite.svg#icon-close-btn"></use>
      </svg> -->
    </button>
    <nav class="nav-menu-mobile">
      <ul class="nav-list-mobile">
        <li class="nav-list-item-mobile">
          <a href="#hero">Home</a>
        </li>
        <li class="nav-list-item-mobile">
          <a href="#gallery">Gallery</a>
        </li>
        <li class="nav-list-item-mobile">
          <a href="#unique-features">Unique Features</a>
        </li>
        <li class="nav-list-item-mobile">
          <a href="#about-the-game">About the Game</a>
        </li>
        <li class="nav-list-item-mobile">
          <a href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <picture>
      <source srcset="/img/icons/Group.png" media="(min-width: 320px)" />
      <img src="/img/icons/Group.png" alt="icon" class="men" />
    </picture>
    <picture>
      <source srcset="/img/icons/Group35.png" media="(min-width: 320px)" />
      <img src="/img/icons/Group.png" alt="icon" class="slash" />
    </picture>
  </div>
</div>
