<!-- ================ Mobile Menu ================ -->
<div class="mob-menu js-mob-menu background">
  <div class="container menu-container">
    <div class="mobile-background-img"></div>

    <button class="menu-close-btn js-close-btn" type="button">
      <svg class="menu-close-btn-icon" width="16" height="18">
        <use href="/img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <nav class="nav-menu-mobile">
      <ul class="nav-list-mobile">
        <li class="nav-list-item-mobile">
          <a href="#hero">Home</a>
        </li>
        <li class="nav-list-item-mobile">
          <a href="#gallery">Gallery</a>
        </li>
        <li class="nav-list-item-mobile">
          <a href="#unique-features">Unique Features</a>
        </li>
        <li class="nav-list-item-mobile">
          <a href="#about-the-game">About the Game</a>
        </li>
        <li class="nav-list-item-mobile">
          <a href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
