<section class="unique-features-section" id="unique-features">
  <div class="unique-features-container container background">
    <div class="features-background-img"></div>
    <h2 class="title features-title">Unique Features</h2>
    <div class="swiper features-swiper">
      <div class="swiper-pagination features-swiper-pagination"></div>
      <div class="swiper-wrapper features-swiper-wrapper">
        <div class="swiper-slide features-swiper-slide">
          <div class="text text-1">
            <h3>Simple Yet Challenging:</h3>
            <p>
              Easy to understand, but requires strategic thinking to master.
            </p>
          </div>
          <div class="background-layer-1"></div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <div class="text text-2">
            <h3>Vibrant Graphics:</h3>
            <p>
              Enjoy eye-catching colors and animations that enhance your gaming
              experience.
            </p>
          </div>
          <div class="background-layer-2"></div>
        </div>
        <div class="swiper-slide features-swiper-slide slide-3">
          <div class="text text-3">
            <h3>Multiple Levels:</h3>
            <p>
              Progress through hundreds of levels with increasing difficulty.
            </p>
          </div>
          <div class="background-layer-3"></div>
        </div>
        <div class="swiper-slide features-swiper-slide slide-4">
          <div class="text text-4">
            <h3>Calming Gameplay:</h3>
            <p>Perfect for relaxation and stress relief after a long day.</p>
          </div>
          <div class="background-layer-4-left"></div>
          <div class="background-layer-4-right"></div>
          <div class="background-layer-4"></div>
        </div>
        <div class="swiper-slide features-swiper-slide slide-5">
          <div class="text text-5">
            <h3>Offline Mode:</h3>
            <p>Play anytime, anywhere without an internet connection.</p>
          </div>
          <div class="background-layer-5"></div>
        </div>
      </div>
      <div class="swiper-pagination features-swiper-pagination"></div>
    </div>
  </div>
</section>
