.about-the-game-container {
  padding-top: 65px;
  padding-bottom: 40px;
  position: relative;
}
.about-background-img {
  position: absolute;
  inset: 0;
  background: url('/img/background/icons/about-zigzag-mob.svg') no-repeat top
      4px left 18px / 288px 20px,
    url('/img/background/icons/about-title-mob.svg') no-repeat top 54px left 4px /
      203.58px 68px,
    url('/img/background/icons/about-arrows-mob.svg') no-repeat top 312.68px
      left 139.55px / 82.33px 115.77px,
    url('/img/background/icons/about-line-mob.svg') no-repeat bottom left 130px /
      92px 24px;
}
.about-the-game-title {
  margin-bottom: 56px;
}
.about-the-game-text {
  height: 495px;
  display: flex;
  flex-direction: column;
}
.part-one {
  margin-bottom: auto;
}
.about-picture {
  position: absolute;
  top: 319px;
  left: 75px;
}
@media screen and (min-width: 1200px) {
  .about-the-game-container.container {
    padding-top: 96px;
    padding-bottom: 160px;
  }
  .about-the-game-text {
    display: block;
    padding-right: 341px;
  }
  .part-one,
  .part-two {
    display: inline;
  }
  .about-picture {
    top: 114px;
    bottom: 64px;
  }
  .about-img {
    width: 334px;
    height: 349px;
  }
}
