.about-the-game-container {
  padding-top: 65px;
  padding-bottom: 40px;
  position: relative;
}
.about-background-img {
  position: absolute;
  inset: 0;
  background: url('/img/background/icons/about-zigzag-mob.svg') no-repeat top
      4px left 18px / 288px 20px,
    url('/img/background/icons/about-title-mob.svg') no-repeat top 54px left 4px /
      203.58px 68px,
    url('/img/background/icons/about-arrows-mob.svg') no-repeat top 312.68px
      left 139.55px / 82.33px 115.77px,
    url('/img/background/icons/about-line-mob.svg') no-repeat bottom left 130px /
      92px 24px;
}
.about-the-game-title {
  margin-bottom: 56px;
}
.about-the-game-text {
  height: 495px;
  display: flex;
  flex-direction: column;
}
.part-one {
  margin-bottom: auto;
}
.about-picture {
  position: absolute;
  top: 319px;
  left: 75px;
}
@media screen and (min-width: 1200px) {
  .about-the-game-container.container {
    padding-top: 96px;
    padding-bottom: 160px;
  }
  .about-the-game-text {
    display: block;
    padding-right: 341px;
    height: auto;
  }
  .part-one,
  .part-two {
    display: inline;
  }
  .absolut {
    position: absolute;
    top: 0;
    left: 725px;
  }
  .about-picture {
    top: 114px;
    right: 64px;
    width: 334px;
    height: 349px;
  }
  .about-img {
    width: auto;
    height: auto;
  }
  .about-background-img {
    background: url('/img/background/icons/about-zigzag-desk.svg') no-repeat top
        left 43px / 1134px 33px,
      url('../img/background/icons/about-title-desk.svg') no-repeat top 84.57px
        left 58.77px / 419.61px 94.46px,
      url('/img/background/icons/about-arrows-desk.svg') no-repeat top 94.94px
        right 109.78px / 166.33px 230.76px,
      url('/img/background/icons/about-line-desk.svg') no-repeat bottom 12.28px
        left 380.31px / 431.45px 115.95px;
  }
}
