.faq-container.container {
  position: relative;
  padding-top: 46px;
  padding-bottom: 62px;
}
.faq-background-img {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: url('/img/background/icons/faq-rays-mob.svg') no-repeat top
      23.59px left 2.86px,
    url('/img/background/icons/faq-man-mob.svg') no-repeat top 62px right
      54.58px,
    url('/img/background/icons/faq-ques-mob.svg') no-repeat top 39px right
      33.29px;
  background-size: 104.09px 92.17px, 20.42px 41.34px, 35.06px 23.32px;
}
.faq-title,
.faq-list {
  position: relative;
  z-index: 2;
}
.faq-list {
  margin-top: 56px;
}
.faq-item {
  position: relative;
  border: 1px solid #020202;
  padding: 32px 24px;
  background: #fff;
  color: #020202;
}
.faq-item:not(:last-child) {
  margin-bottom: 23px;
}
.faq-question {
  position: relative;
}
.faq-question-text {
  color: #020202;
  background: transparent;
  border: none;
  text-align: start;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  padding: 0 42px 0 0;
}
.faq-acc-svg {
  position: absolute;
  top: 9px;
  right: 0;
  fill: transparent;
  stroke: black;
  padding: 8.75px 5.25px 10.05px 5.25px;
}
.faq-answer {
  position: relative;
}
.faq-answer-text {
  font-weight: 300;
  font-size: 12px;
  padding-top: 96px;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.faq-question-text[aria-expanded='true'] .faq-acc-svg {
  transform: rotate(180deg);
}
.open {
  box-shadow: 4px 4px 0 0 #8a9ace;
  background: #fff url('/img/background/icons/faq-divider-mob.svg') no-repeat;
  background-position: 24px calc(50% - 2px), calc(100% - 24px);
  transition: 
  /* background 0.3s ease, background-position 0.3s ease, */ box-shadow
    0.3s ease;
}

@media screen and (min-width: 1200px) {
  .faq-container.container {
    padding-top: 96px;
    padding-bottom: 93px;
  }
  .faq-background-img {
    z-index: 1;
    position: absolute;
    inset: 0;
    background: url('/img/background/icons/faq-rays.svg') no-repeat top 36px
        left 20px,
      url('/img/background/icons/faq-man.svg') no-repeat top 96px right 257.72px,
      url('/img/background/icons/faq-ques.svg') no-repeat top 40.39px right
        185.56px;
    background-size: 284.63px 192.56px, 63.28px 119.87px, 101.66px 67.62px;
  }
  .faq-list {
    margin-top: 120px;
    width: 787px;
    margin-inline: auto;
  }
  .faq-question-text {
    font-size: 20px;
  }
  .faq-acc-svg {
    top: 4px;
  }
  .faq-answer-text {
    font-size: 16px;
  }

  .open {
    background: #fff url('/img/background/icons/faq-divider-desk.svg') no-repeat;
    background-position: 24px calc(50% + 5px), calc(100% - 24px);
  }
}
