.footer-section .footer-container {
  padding: 32px 16px;
  background: #fff;
  border: 1px solid #020202;
}
.footer-terms-list {
  padding-bottom: 32px;
  font-weight: 400;
  transition: color 0.3 ease;
}
.footer-terms-list a:hover {
  color: #8a9ace;
}
.footer-terms-item:not(:last-child) {
  padding-bottom: 8px;
}
.footer-text {
  font-weight: 400;
  text-align: center;
}
.footer-terms-slash {
  color: transparent;
}

@media screen and (min-width: 1200px) {
  .footer-section .footer-container {
    padding: 32px 72px 32px 207px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
  }
  .footer-text {
    padding-right: 69px;
    position: relative;
  }
  .footer-text::after {
    content: '';
    display: block;
    background-color: #020202;
    position: absolute;
    right: 0;
    top: -33px;
    height: 87px;
    width: 1px;
  }

  .footer-terms-list {
    display: flex;
    padding-inline: 69px 0;
    padding-bottom: 0;
    gap: 7px;
  }
  .footer-terms-item:first-child {
    padding-bottom: 0;
  }
  .footer-terms-slash {
    color: #020202;
    display: inline-block;
  }
}
