.footer-section {
  margin-top: auto;
  padding: 32px 0;
  border: 1px solid #020202;
  background: #fff;
}
.privacy-list {
  padding-bottom: 32px;
  font-weight: 400;
}
.privacy-item:not(:last-child) {
  padding-bottom: 8px;
}
.footer-text {
  font-weight: 400;
  text-align: center;
}
.slash {
  color: transparent;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer-text {
    padding-right: 69px;
    position: relative;
  }
  .footer-text::after {
    content: '';
    display: block;
    background-color: #020202;
    position: absolute;
    right: 0;
    top: -33px;
    height: 89px;
    width: 1px;
  }

  .privacy-list {
    display: flex;
    padding-inline: 69px;
    padding-bottom: 0;
    gap: 9px;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
  }
  .privacy-item:first-child {
    padding-bottom: 0;
  }
  .slash {
    color: #020202;
    display: inline-block;
    margin-left: 8px;
  }
}
