.gallery-container.container {
  padding-top: 56px;
  padding-bottom: 112px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.gallery-background-img,
.gallery-background-img-mobile {
  transition: background-image 0.3s ease-in-out;
}

.gallery-background-img-mobile {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: url('/img/background/icons/gallery-man.svg') no-repeat top 36px
      right 20px / 22px 26px,
    url('/img/background/icons/gallery-title.svg') no-repeat top 41px left 5px /
      125.54px 73.34px;
}

.gallery-background-img-mobile-left {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: url('/img/background/icons/gallery-man.svg') no-repeat top 36px
      right 20px / 22px 26px,
    url('/img/background/icons/gallery-title.svg') no-repeat top 41px left 5px /
      125.54px 73.34px,
    url('/img/background/icons/gallery-arrowLeft-mob.svg') no-repeat bottom
      198px left 16px / 57px 57px;
}

.gallery-background-img-mobile-right {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: url('/img/background/icons/gallery-man.svg') no-repeat top 36px
      right 20px / 22px 26px,
    url('/img/background/icons/gallery-title.svg') no-repeat top 41px left 5px /
      125.54px 73.34px,
    url('/img/background/icons/gallery-arrowRight-mob.svg') no-repeat bottom
      198px right 16px / 57px 57px;
}

.gallery-title {
  margin-bottom: 53px;
}

.gallery-container .gallery-swiper {
  position: relative;
  width: 75.5%;
  height: 242px;
  overflow: visible;
}

.gallery-swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide.gallery-swiper {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-swiper-slide {
  width: 136px !important;
  opacity: 0.5;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
}

.gallery-swiper-slide .gallery-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.gallery-navigation {
  position: absolute;
  z-index: 2;
  top: 62px;
  right: 16px;
  display: flex;
  gap: 8px;
}

.gallery-button-next,
.gallery-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #020202;
  background-color: #fff;
  width: 32px;
  height: 32px;
}

.gallery-button-next:disabled,
.gallery-button-prev:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.gallery-icon-left,
.gallery-icon-right {
  fill: transparent;
  stroke: #020202;
  width: 14px;
  height: 14px;
}

.gallery-icon-right {
  transform: rotate(180deg);
}

.gallery-button-next:hover {
  box-shadow: 4px 4px 0 0 #8a9ace;
}

.gallery-button-prev:hover {
  box-shadow: -4px -4px 0 0 #8a9ace;
}

@media screen and (min-width: 1200px) {
  .gallery-container.container {
    padding-top: 96px;
    padding-bottom: 184px;
  }

  .gallery-background-img {
    background: url('/img/background/icons/gallery-man.svg') no-repeat top 22px
        right 75px / 62px 74px,
      url('/img/background/icons/gallery-title-desk.svg') no-repeat top 68px
        left 52px / 280.45px 119.25px;
  }

  .gallery-background-img-left {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: url('/img/background/icons/gallery-man.svg') no-repeat top 22px
        right 75px / 62px 74px,
      url('/img/background/icons/gallery-title-desk.svg') no-repeat top 68px
        left 52px / 280.45px 119.25px,
      url('/img/background/icons/gallery-arrowLeft-desk.svg') no-repeat top
        408.75px left 72.06px / 288.11px 348.66px;
  }

  .gallery-background-img-right {
    position: absolute;
    inset: 0;
    z-index: 2;
    background: url('/img/background/icons/gallery-man.svg') no-repeat top 22px
        right 75px / 62px 74px,
      url('/img/background/icons/gallery-title-desk.svg') no-repeat top 68px
        left 52px / 280.45px 119.25px,
      url('/img/background/icons/gallery-arrowRight-desk.svg') no-repeat bottom
        295.08px right 60.14px / 287.95px 350.49px;
  }

  .gallery-title {
    margin-bottom: 120px;
  }

  .gallery-container .gallery-swiper {
    width: 94%;
    height: 542px;
  }

  .gallery-swiper-slide {
    width: 306px !important;
  }

  .gallery-navigation {
    top: 96px;
    right: 72px;
    gap: 16px;
  }

  .gallery-button-next,
  .gallery-button-prev {
    width: 72px;
    height: 71px;
  }

  .gallery-icon-left,
  .gallery-icon-right {
    width: 30px;
    height: 28px;
  }
}
