.gallery-container.container {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  z-index: 0;
}

.gallery-background-img {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: url('/img/background/icons/gallery-man.svg') no-repeat top 36px
      right 20px / 22px 26px,
    url('/img/background/icons/gallery-title.svg') no-repeat top 41px left 5px /
      125.54px 73.34px;
}

.gallery-title {
  position: relative;
  /* z-index: 2; */
  margin-bottom: 53px;
}

.gallery-container .gallery-swiper {
  position: relative;
  width: 75%; /* коли змінити % звужується відстань між слайдами */
  height: 298px;
  overflow: visible;
  padding-top: 56px;
}

.gallery-swiper-wrapper {
  display: flex;
  align-items: center;
}

.gallery-swiper-slide {
  width: 136px !important;
  opacity: 0.5;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
}

.gallery-swiper-slide .gallery-img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-swiper-slide-active {
  opacity: 1;
  z-index: 2;
  transform: translateY(-56px);
}

/* .gallery-swiper-slide-active img {
  transform: scale(1);
  opacity: 1;
} */

/* .gallery-swiper-slide-prev {
  opacity: 0.5;
  transform: translateY(56px);
  z-index: 1;
} */

/* .gallery-swiper-slide-next {
  opacity: 0.5;
  transform: translateY(56px);
  z-index: 1;
} */

/* .swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
} */

/* .gallery-icons-arrows {
  position: absolute;
  z-index: 2;
  top: 84px;
  left: 260px;
} */

/* .gallery-icons-arrows {
  box-shadow: 4px 4px 0 0 #8a9ace;
} */

/* .gallery-swiper-button-prev.swiper-button-prev,
.gallery-swiper-button-next.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #020202;
  width: 32px;
  height: 32px;
  background-color: transparent;
} */

/* .gallery-swiper-button-prev.swiper-button-prev:hover {
  box-shadow: 4px 4px 0 0 #8a9ace;
} */

/* .gallery-swiper-button-next.swiper-button-next:hover {
  box-shadow: -4px -4px 0 0 #8a9ace;
} */

/* .gallery-icon-left,
.gallery-icon-right {
  fill: black;
  stroke: #020202;
  width: 24px;
  height: 23px;
} */

/* .gallery-icon-left {
  transform: rotate(180deg);
} */

/* @media screen and (min-width: 1200px) {
  .gallery-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid #020202;
    padding: 12px 50px;
    background: #ffffff;
  }

  .gallery-swiper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: visible;
  }

  .gallery-swiper-wrapper {
    display: flex;
    align-items: center;
    overflow: visible;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .gallery-swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(0);
    height: auto;
    padding: 56px 0;
  }

  .gallery-swiper-slide img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .gallery-swiper-slide-active {
    opacity: 1;
    z-index: 2;
    transform: translateY(-56px);
  }

  .gallery-swiper-slide-active img {
    transform: scale(1);
    opacity: 1;
  }

  .gallery-swiper-slide-prev {
    opacity: 0.5;
    transform: translateY(56px);
    z-index: 1;
  }

  .gallery-swiper-slide-next {
    opacity: 0.5;
    transform: translateY(56px);
    z-index: 1;
  }

  .gallery-swiper-slide img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .gallery-icons-arrows {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 72px;
    height: 32px;
  }

  .gallery-swiper-button-prev,
  .gallery-swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #020202;
    padding: 24px 10px;
    width: 72px;
    height: 71px;
    background: #ffffff;
  }

  .gallery-icon-left,
  .gallery-icon-right {
    stroke: black;
    width: 32px;
    height: 32px;
  }
} */
