header {
  position: fixed;
  inset: 0;
  height: 103px;
  z-index: 9;
}
header .header-container {
  border: 1px solid #020202;
  background: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 32px;
  position: relative;
}
.header-background-img {
  position: absolute;
  z-index: 10;
  inset: 0;
  background: url('/img/background/icons/header-logo-back.svg') no-repeat top
    9px left 33px;
  background-size: 93.41px 85.96px;
}
.logo-container {
  position: relative;
  z-index: 11;
  padding: 16px 44px;
  border-right: 1px solid #020202;
}
.logo-image {
  width: 72px;
  height: 72px;
}
.burger-menu {
  position: relative;
  z-index: 11;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .nav-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .burger-menu {
    display: none;
  }
  header .header-container {
    padding-inline: 72px;
  }
  .header-background-img {
    background: url('/img/background/icons/header-logo-back.svg') no-repeat top
        7.97px left 60.95px,
      url('/img/background/icons/header-divider.svg') no-repeat top 50.5px right
        13px;
    background-size: 93.41px 85.96px, 963.34px 7.5px;
  }
  .logo-container {
    padding-inline: 0 62px;
  }
  .nav-list {
    position: relative;
    z-index: 11;
    display: flex;
    justify-content: end;
    gap: 40px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
  }
  .nav-list-item a {
    padding: 10px 0;
    transition: color 0.3s ease;
  }
  .nav-list-item a:hover {
    color: #8a9ace;
  }
}

/* mobile styles */
.no-scroll {
  overflow: hidden;
}
.mob-menu.is-open {
  transform: translateX(0);
}
.mob-menu.is-closing {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.mob-menu {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}
.mobile-background-img {
  position: absolute;
  inset: 0;
  z-index: 11;
  background: url('/img/background/icons/mobile-man.svg') no-repeat bottom
      101.39px left 128px / 63.93px 77.61px,
    url('/img/background/icons/mobile-splash.svg') no-repeat bottom 125.83px
      left 28px / 236.88px 132.17px;
}
.menu-container {
  position: relative;
  padding: 56px 16px;
  height: 100vh;
}
.menu-close-btn {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 13;
  border: none;
  background-color: transparent;
  padding: 16px;
}
.nav-list-mobile {
  position: relative;
  z-index: 12;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
