.hero-container.container {
  position: relative;
  padding-top: 56px;
  padding-bottom: 66px;
}
.hero-background-img {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: url('/img/background/icons/hero-man.svg') no-repeat top 240.68px
      right 19.21px,
    url('/img/background/icons/hero-rope-mob.svg') no-repeat top right 16px,
    url('/img/background/icons/hero-line-mob.svg') no-repeat bottom 7px left
      28px,
    url('/img/background/icons/hero-arrows-mob.svg') no-repeat bottom 153.87px
      left 105.6px;
  background-size: 28.79px 36.85px, 28px 259px, 63px 27px, 106.96px 37.13px;
}

.hero-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}
.hero-title-container span {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;
}
.hero-title-container .hover:hover {
  transform: translateY(-30px);
}
.hover-letters {
  display: inline-block;
  letter-spacing: -3.5px;
}
.pink {
  color: #ec7ef5;
}
.green {
  color: #63d483;
}
.grey-blue {
  color: #80bade;
}
.purple {
  color: #7738bd;
}
.red {
  color: #d04c4b;
  padding-right: 10px;
}
.dark-green {
  color: #0d9e5b;
}
.blue {
  color: #49dbdb;
}
.dark-purple {
  color: #630c85;
}
.yellow-green {
  color: #bbe842;
}
.slight-purple {
  color: #af25ff;
}
.pearch {
  color: #ff8e84;
  padding-right: 10px;
}
.google-btn {
  position: relative;
  z-index: 2;
  margin-top: 40px;
  margin-bottom: 57.31px;
  padding: 12px 16px;
  border: 1px solid #020202;
  width: 166px;
  height: 54.69px;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.google-btn:hover {
  box-shadow: 4px 4px 0 0 #8a9ace;
  transform: scale(1.05);
}
.google-cont svg {
  display: block;
}
.google-cont svg:first-child {
  margin-bottom: 4px;
}
.hero-text {
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .hero-container.container {
    padding-top: 172px;
    padding-bottom: 133px;
  }
  .hero-background-img {
    background: url('/img/background/icons/hero-man.svg') no-repeat top 310px
        right 86.9px,
      url('../img/background/icons/hero-rope-desk.svg') no-repeat top right
        85.01px,
      url('/img/background/icons/hero-line-mob.svg') no-repeat bottom 21px left
        271px,
      url('/img/background/icons/hero-arrows-mob.svg') no-repeat bottom 226.35px
        left 114px;

    background-size: 56.1px 76.66px, 43.02px 372.05px, 139px 61px,
      419.85px 145.75px;
  }
  .hero-title {
    display: inline-block;
    font-weight: 700;
    font-size: 48px;
  }
  .hero-container span {
    font-weight: 700;
    font-size: 48px;
  }
  .hero-container .hover:hover {
    transform: translateY(-30px);
  }
  .end-span {
    margin-left: 16px;
  }
  .google-btn {
    margin-bottom: 0;
    width: 306px;
    height: 79px;
    padding: 16px 51px;
    gap: 14.02px;
  }
  .google-btn img {
    width: 41px;
    height: 44px;
  }
  .google-cont svg:first-child {
    margin-bottom: 6.7px;
  }
  .get-it {
    width: 68px;
    height: 11px;
  }
  .google-play {
    width: 149px;
    height: 29px;
  }
  .hero-text {
    margin-top: 120px;
    margin-left: 332px;
    font-size: 24px;
    text-align: right;
  }
}

/* для aнімації зміни слів */
.change-words {
  position: relative;
  height: 4em;
  overflow: hidden;
  text-align: left;
}

.change-words span {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.7s, transform 0.7s;
}

.change-words span.active {
  opacity: 1;
  transform: translateY(0);
}
