// @import './header.scss';
@import './header.css';
@import './hero.css';
@import './gallery.css';
@import './unique-features.css';
@import './about-the-game.css';
@import './faq.css';
@import './footer.css';
@import './privacy-policy.css';
@import './terms&conditions.css';
// Імпорт стилів Swiper
@import 'swiper/swiper-bundle.css';

html {
  scroll-behavior: smooth;
}

a {
  display: block;
}

body {
  font-family: 'Azeret Mono', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  color: #020202;
}

main {
  padding-top: 105px;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.background {
  background-color: $_main_bg_color;
  border-right: 1px solid #020202;
  border-left: 1px solid #020202;

  @include media(mobile) {
    background: linear-gradient(
        rgba(233, 242, 255, 0.7),
        rgb(233, 242, 255, 0.7)
      ),
      url('/img/background/background-mobile@1x.jpg') repeat-y center;
    background-size: cover;
    background-position: 14px -10px;
  }

  @include media(desktop) {
    background: linear-gradient(
        rgba(233, 242, 255, 0.7),
        rgb(233, 242, 255, 0.7)
      ),
      url('/img/background/background-desk@1x.jpg') repeat-y center;
    background-size: cover;
    background-position: 14px -14px;
  }
}

@media screen and (min-resolution: 192dpi) {
  .background {
    background: linear-gradient(
        rgba(233, 242, 255, 0.7),
        rgba(233, 242, 255, 0.7)
      ),
      url(/img/background/background-mobile@2x.jpg) repeat-y center;
    background-size: cover;
    background-position: 14px -10px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1200px) {
  .background {
    background: linear-gradient(
        rgba(233, 242, 255, 0.7),
        rgba(233, 242, 255, 0.7)
      ),
      url('../img/background/background-desk@2x.jpg') repeat-y center;
    background-size: cover;
    background-position: 14px -14px;
  }
}

.title {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 16px;
  border: 1px solid #020202;
  background: #fff;
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.back-link {
  display: inline-flex;
  align-items: center;
  border: 1px solid #020202;
  background: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 12px 16px;
}

.back-btn {
  fill: transparent;
  stroke: #020202;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 1200px;
    padding: 0 72px;
  }

  .title {
    font-weight: 600;
    font-size: 32px;
    padding: 12px 50px;
  }

  .back-link {
    position: absolute;
    top: 96px;
    font-size: 20px;
    padding-inline: 50px;
  }

  .back-btn {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
}
