// @import './header.scss';
@import './header.css';
@import './hero.css';
@import './gallery.css';
@import './unique-features.css';
@import './about-the-game.css';
@import './faq.css';
@import './footer.css';
@import './privacy-policy.css';
@import './terms&conditions.css';
// Імпорт стилів Swiper
@import 'swiper/swiper-bundle.css';

// :root {
//   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
//   font-size: 16px;
//   line-height: 24px;
//   font-weight: 400;

//   color: #242424;
//   background-color: rgba(255, 255, 255, 0.87);

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-text-size-adjust: 100%;
// }

html {
  scroll-behavior: smooth;
}

a {
  display: block;
}

body {
  font-family: 'Azeret Mono', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  color: #020202;
  height: 2500px;

  @include media(mobile) {
    background: linear-gradient(
        rgba(233, 242, 255, 0.7),
        rgba(233, 242, 255, 0.7)
      ),
      url(/img/background/background-mob.jpg) rgba(233, 242, 255, 0.7) repeat
        center;
  }

  @include media(desktop) {
    background: linear-gradient(
        rgba(233, 242, 255, 0.7),
        rgba(233, 242, 255, 0.7)
      ),
      url(/img/background/background-desk.jpg) repeat center;
  }
}

@media screen and (min-resolution: 192dpi) {
  body {
    background: linear-gradient(
        rgba(233, 242, 255, 0.7),
        rgba(233, 242, 255, 0.7)
      ),
      url(/img/background/background-mob-2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1200px) {
  .order-section {
    background-image: linear-gradient(
        to bottom,
        rgba(233, 242, 255, 0.5),
        rgba(233, 242, 255, 0.5)
      ),
      url(/img/background/background-desk-2x.jpg);
  }
}
main {
  padding-top: 104px;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 16px;
  border: 1px solid #020202;
  background: #fff;
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 1200px;
    padding: 0 72px;
  }

  .title {
    font-weight: 600;
    font-size: 32px;
  }
}
