.terms-background-img {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: url('/img/background/icons/terms-man.svg') no-repeat top 128.91px
      right 38.34px / 25.8px 36.86px,
    url('/img/background/icons/terms-I.svg') no-repeat top 106px right 18.13px /
      74.87px 25.78px;
}

.terms-parts-container:not(:last-child) {
  position: relative;
  z-index: 2;
  margin-bottom: 56px;
}

.terms-title {
  margin-bottom: 32px;
}

.terms-text,
.terms-links-list {
  margin-bottom: 24px;
}

.terms-links-list {
  list-style: square;
  margin-left: 16px;
  text-decoration: underline;
}

.terms-links-list a:hover {
  color: #8a9ace;
  text-decoration: underline;
}

.terms-links-text {
  margin-bottom: 24px;
  font-weight: 300;
}

@media screen and (min-width: 1200px) {
  .terms-background-img {
    background-size: 97.84px 140px, 284.39px 97.9px;
    background-position: top 180px right 254.94px, top 93px right 176.61px;
  }
  .terms-parts-container:not(:last-child),
  .terms-title {
    margin-bottom: 96px;
  }
  .terms-text,
  .terms-links-list {
    margin-bottom: 56px;
  }
}
