.unique-features-container {
  position: relative;
}

/* .about-background-img {
  position: absolute;
  inset: 0;
  background: url('../img/unique-features/container-svg/puzzle-container-mob-4.svg')
      no-repeat,
    url('/img/background/icons/about-title-mob.svg') no-repeat top 54px left 4px /
      203.58px 68px,
    url('/img/background/icons/about-arrows-mob.svg') no-repeat top 312.68px
      left 139.55px / 82.33px 115.77px,
    url('/img/background/icons/about-line-mob.svg') no-repeat bottom left 115px /
      92px 24px;
} */

.features-title {
  margin-bottom: 56px;
  text-align: center;
}

.features-swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.features-swiper-wrapper {
  padding-top: 56px;
  padding-bottom: 77px;
}

.features-swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  filter: drop-shadow(4px 4px 0px rgba(138, 154, 206, 0.5));
}

.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.5;
  color: #020202;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-wrap: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
}

.text-1 {
  padding: 100px 21px 116px 93px;
  width: 100%;
  height: auto;
  max-width: 180px;
}

.text-2 {
  padding: 127px 65px 120px 120px;
  width: 100%;
  height: auto;
  max-width: 188px;
}

.text-3 {
  padding: 110px 45px 130px 60px;
  width: 100%;
  height: auto;
  max-width: 189px;
}

.text-4 {
  padding: 100px 95px 119px 24px;
  width: 100%;
  height: auto;
  max-width: 178px;
}

.text-5 {
  padding: 119px 57px 58px 25px;
  width: 100%;
  height: auto;
  max-width: 206px;
}

.features-swiper-slide h3 {
  font-weight: 500;
  font-size: 11px;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
}

.features-swiper-slide p {
  font-weight: 300;
  font-size: 11px;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
}

.features-swiper-slide:nth-child(1) {
  background-image: url(/img/unique-features/new-svg/vector-mob-1.svg),
    url(/img/unique-features/unique-features-mob-1.svg);
  width: 276.1px;
  height: 276.1px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.features-swiper-slide:nth-child(2) {
  background-image: url(/img/unique-features/new-svg/vector-mob-2.svg),
    url(/img/unique-features/unique-features-mob-2.svg);
  width: 286px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.features-swiper-slide:nth-child(3) {
  background-image: url(../img/unique-features/new-svg/vector-mob-3.svg),
    url(/img/unique-features/unique-features-mob-3.svg);
  width: 270px;
  height: 292px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.features-swiper-slide:nth-child(4) {
  background-image: url(/img/unique-features/unique-features-mob-4.svg);
  width: 274px;
  height: 316px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.features-swiper-slide:nth-child(5) {
  background-image: url(/img/unique-features/unique-features-mob-5.svg);
  width: 261px;
  height: 281px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.features-swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
}

.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #020202;
  padding: 10px;
  opacity: 1;
  border-radius: 0px;
  background: transparent;
}

.swiper-pagination-bullet-active {
  border: 1px solid #020202;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .features-title {
    margin-bottom: 0px;
    text-align: center;
  }

  .features-swiper-wrapper {
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 140px;
    padding-bottom: 0px;
  }

  .features-swiper-slide h3 {
    font-weight: 500;
    font-size: 16px;
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
  }

  .features-swiper-slide p {
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
  }

  .features-swiper-slide:nth-child(1) {
    background-image: url(../img/unique-features/new-svg/vector-desk-1.svg),
      url(/img/unique-features/unique-features-desk-1.svg);
    width: 762px;
    height: 693px;
    transform: rotate(11deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-slide:nth-child(1):hover {
    background-image: url(../img/unique-features/new-svg/vector-desk-1.svg),
      url(/img/unique-features/desk-hever/hovers/features-img-hov-1.svg);
    width: 762px;
    height: 693px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-slide:nth-child(2) {
    background-image: url(../img/unique-features/new-svg/vector-desk-2.svg),
      url(/img/unique-features/unique-features-desk-2.svg);
    width: 724px;
    height: 813px;
    transform: rotate(-24deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-slide:nth-child(2):hover {
    background-image: url(../img/unique-features/new-svg/vector-desk-2.svg),
      url(/img/unique-features/desk-hever/hovers/features-img-hov-2.svg);
    width: 724px;
    height: 813px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-slide:nth-child(3) {
    background-image: url(../img/unique-features/new-svg/vector-desk-3.svg),
      url(/img/unique-features/unique-features-desk-3.svg);
    width: 710px;
    height: 710px;
    transform: rotate(-84deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-slide:nth-child(3):hover {
    background-image: url(../img/unique-features/new-svg/vector-desk-3.svg),
      url(/img/unique-features/desk-hever/hovers/features-img-hov-3.svg);
    width: 710px;
    height: 710px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-slide:nth-child(4) {
    background-image: url(/img/unique-features/unique-features-desk-4.svg);
    width: 764px;
    height: 764px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-slide:nth-child(4):hover {
    background-image: url(/img/unique-features/desk-hever/hovers/features-img-hov-4.svg);
    width: 764px;
    height: 764px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-slide:nth-child(5) {
    background-image: url(/img/unique-features/unique-features-desk-5.svg);
    width: 789px;
    height: 790px;
    transform: rotate(-31deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-slide:nth-child(5):hover {
    background-image: url(/img/unique-features/desk-hever/hovers/features-img-hov-5.svg);
    width: 789px;
    height: 790px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-swiper-pagination {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%);
    margin: 288px 0px 213px 40px;
  }

  .swiper-pagination-bullet {
    width: 80px;
    height: 80px;
  }

  .text {
    gap: 48px;
    width: 265px;
    height: 144px;
    font-size: 16px;
    max-width: 300px;
  }

  .text-1 {
    padding: 279px 153px 325px 330px;
  }

  .text-2 {
    padding: 300px 165px 320px 320px;
    max-width: 258px;
  }

  .text-3 {
    padding: 370px 220px 225px 235px;
    max-width: 289px;
  }

  .text-4 {
    padding: 180px 20px 220px 260px;
    max-width: 245px;
  }

  .text-5 {
    padding: 380px 200px 215px 255px;
    max-width: 239px;
  }
}
